spring:
  application:
    name: blog-server

  profiles:
    active: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

app:
  cookie:
    secure: ${APP_COOKIE_SECURE:true}
    domain: ${APP_COOKIE_DOMAIN:localhost}
    same-site: ${APP_COOKIE_SAME_SITE:None}
  redirect:
    base-url: ${APP_REDIRECT_BASE_URL:http://localhost:3000}
    end-point:
      success: ${APP_REDIRECT_SUCCESS_END_POINT:/login}
      error: ${APP_REDIRECT_ERROR_END_POINT:/login}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: INFO
    cloud.luigi99.blog: DEBUG
#    org.springframework.web: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
